.input-group.datetime {
  display: none;
}

.neochic-woodlets-datetime-container {
  max-width: 320px;
  display: block;
}

.neochic-woodlets-datetime-fallback {

  @import (less) '../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css';
  @import (less) '../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';

  .neochic-woodlets-datetime {
    display: none;
  }

  .input-group.datetime {
    display: block;
    position: relative;
  }
  .neochic-woodlets-datetime-replacement, .input-group-addon {
    display: inline-block;
    height: 27px;
  }
  .bootstrap-datetimepicker-widget {
    left: 0px !important;
  }
  .neochic-woodlets-datetime-replacement {
    width: ~"calc(100% - 28px)";
  }
  .input-group-addon {
    width: 28px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-left: none;
    vertical-align: top;
    position: relative;
    @radius: 2px;
    border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
    box-sizing: border-box;
    * {
      position: absolute;
      top: 6px;
      width: 100%;
      text-align: center;
      color: #555;
      font-weight: 100;
    }
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}