@import "_replaceSvgColors";

.neochic-woodlets-location-picker {
  .neochic-woodlets-location-overlay-content {
    display: none;
  }

  .preview-container {
    margin-bottom: 20px;
    cursor: pointer;

    div.hidden {
      display: none;
    }

    span:empty {
      display: none;
    }

    &.has-location i {
      display: none;
    }
  }
}
.neochic-woodlets-location-picker, .neochic-woodlets-location-overlay-content {
  input {
    width: 100%;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  .detect {
    width: 40px;
    text-indent: -99999px;
    position: relative;
    cursor: pointer;
    margin: 0 0 1px 4px;
    padding: 0;
    padding-top: 0;
    display: none; //will be shown via js if detection is available
    &:after {
      .replaceSvgColors("../img/gps_icon.svg"; "#001337", #aaa);
      content: "";
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      height: 100%;
      background-size: auto 76%;
      top: 0;
    }
    &:hover{
      &:after{
        .replaceSvgColors("../img/gps_icon.svg"; "#001337", #666);
      }
    }
  }
  .map-pane {
    height: 400px;
    margin: 1em 0;
  }
  .neochic_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px -10px;
    > * {
      position: relative;
      width: 200px;
      padding: 0 10px;
    }
    input{
      width: 100%;
    }
  }
  fieldset {
    padding: 10px;
    border: 1px solid #eee;
  }
  .neochic-woodlets-location-button-container {
    text-align: right;
    padding-top: 10px;
  }
}


.pac-container{
  z-index: 600000;
  &:after{
    content:none !important;
  }
}