<div class="notice notice-info is-dismissible neochic-woodlets-notice" data-key="{{ key }}">
    <p>We recommend enabling automatic check for updates for the Woodlets plugin. Go to <a href="{{ url }}">Woodlets Settings</a> page.</p>
</div>
