<div class="notice notice-warning is-dismissible neochic-woodlets-notice" data-key="{{ key }}">
    <p>Please copy the Woodlets default templates directory to your themes woodlets directory. This will help to prevent incompatibilities with future Woodlets versions.</p>
</div>
