<div class="neochic-woodlets-editor">
    <div id="woodlets-fake-editor">
        <input id="content" />
    </div>
    <input type="hidden" name="neochic_woodlets_data" value="{{ data|json_encode }}" />
    <div class="neochic-woodlets-row">
        {% for col in config.columns %}
            <div class="woodlets-content-area neochic-woodlets-col postbox" data-id="{{ col.id }}" data-allowed="{{ col.allowed|json_encode }}">
                <h4>{{ col.title }}</h4>
                <a href="#" class="button add-element">Add element</a>
                <ul>
                    <li class="no-elements">There are no elements in this column yet.</li>
                    {% for widget in data[col.id] %}
                        {% include '@woodlets/widgetPreview.twig' with { 'widget':widgets[widget.widgetId], 'instance': widget.instance, 'widgetId': widget.widgetId } only %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
