<div class="notice notice-info is-dismissible neochic-woodlets-notice" data-key="{{ key }}" data-value="{{ value }}">
    <p>
        There is a new major release for Woodlets plugin. Since major releases may contain non backward compatible changes you've to update manually.<br />
        Go to <a href="https://github.com/Neochic/Woodlets/releases">Woodlets Releases</a> page to download the latest version.
    </p>
</div>
