<p>
    <label for="neochic-woodlets-page-template-input"><strong>Template</strong></label>
    {% if templates|length %}
        <select class="wide" id="neochic-woodlets-page-template-input" name="neochic_woodlets_template">
            {% for key, label in templates %}
                <option value="{{ key }}"{% if key == template %} selected="selected"{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    {% else %}
        <i>{{ 'no_templates_found'|trans('woodlets', [templatesPath]) }}</i>
    {% endif %}
</p>
