<h2>{{ 'profile_headline'|trans("woodlets") }}</h2>
<table class="form-table neochic-woodlets-profile-form">
    <tbody>
    <tr>
        <th>{{ 'profile_additional_details'|trans("woodlets") }}</th>
        <td>
            {{ fields|raw }}
        </td>
    </tr>
    </tbody>
</table>
