{% extends 'layouts/page.twig' %}

{% block view %}
    {{ woodlets.the_content() }}
{% endblock %}

{% block content %}
    {{ woodlets.the_post() }}
    <h1>{{ woodlets.the_title() }}</h1>
    {{ parent() }}
{% endblock %}